.root {
    -fx-background-image: url("background.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.common-text {
    -fx-fill: yellow;
    -fx-text-fill: yellow;
    -fx-font-size: 16pt;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
}
.heading {
    -fx-text-fill: yellow;
    -fx-font-size: 36pt;
    -fx-effect: dropshadow(one-pass-box, black, 20, 0.0, 4, 4);
}
.game-title {
    -fx-text-fill: yellow;
    -fx-font-size: 24pt;
    -fx-effect: dropshadow(one-pass-box, black, 15, 0.0, 3, 3);
}
.button {
    -fx-background-color: yellow;
    /*-fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;*/
    /*-fx-font: 16pt "Arial";*/
    -fx-text-fill: black;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, black, 40, 0.0, 10, 10);
}
.status {
    -fx-font-weight: bold;
    -fx-text-fill: yellow;
    -fx-font-size: 16pt;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
}
/*.label {
    -fx-text-fill: red;
}
.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
    -fx-text-fill: yellow;
}
.borders{
    -fx-border-color: rgb(103, 100, 78);
    -fx-border-style: dotted;
    -fx-border-width: 10.5;
    -fx-border-insets: -5;
}*/