.dialog {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 15;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
}

.dialog-container {
    -fx-background-color: rgba(255,255,255,0.8);
}

.title {
    -fx-font-size: 36pt;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-fill: white;
    -fx-text-fill: white;
}

.root {
    -fx-background-image: url("../images/background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.text-description {
    -fx-font-size: 16pt;
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
    -fx-wrap-text: true;
}

.law-name{
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}

.text-info {
    -fx-font-size: 16pt;
    -fx-fill: black;
    -fx-text-fill: black;
    -fx-wrap-text: true;
}

.text-warning {
    -fx-font-weight: bold;
}

.text-law-voting {
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 24pt;
}

.text-countdown {
    -fx-font-size: 14pt;
    -fx-fill: yellow;
    -fx-text-fill: yellow;
}

.status-title{
    -fx-font-size: 25pt;
}

.separator-r {
    -fx-border-color: red;
    -fx-border-width: 0 0 2 0;
}

.separator-g {
    -fx-border-color: green;
    -fx-border-width: 0 0 2 0;
}

.text-green {
    -fx-text-fill: green;
    -fx-fill: green;
}

.text-red {
    -fx-text-fill: red;
    -fx-fill: red;
}

.button-voting {
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
}

.button-voting-pro {
    -fx-background-color: green;
}

.button-voting-against {
    -fx-background-color: red;
}

.button-summary {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
}

.button-language {
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
}

.button-language:focused {
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 5;
}

.button-info {
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
}

.chart-pie-label {
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}

.chart-title {
    -fx-font-size: 16pt;
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
    -fx-wrap-text: true;
}

.card {
    -fx-border-radius: 15;
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 15;
    -fx-padding: 15;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
}

.card-info{
    -fx-border-color: #87afc9;
    -fx-border-width: 2;
    -fx-background-color: #2e70f3;
}

.card-score{
    -fx-background-color: #000000;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
}

.card-title {
    -fx-text-fill: #5d5d5d;
    -fx-fill: #515151;
    -fx-font-size: 21;
    -fx-wrap-text: true;
    -fx-font-weight: bold;
}

.card-content {
    -fx-text-fill: #515151;
    -fx-fill: #515151;
    -fx-font-size: 15pt;
    -fx-wrap-text: true;
}

.card-content-info{
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-font-size: 14pt;
}

.gamer-id {
    -fx-text-fill: rgba(62, 6, 6,0.1);
}

.gamer-id-xs {
    -fx-font-size: 50pt;
    -fx-text-fill: rgba(62, 6, 6,0.1);
}

.titled-pane-title {
    -fx-text-fill: white;
    -fx-padding: 15px;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-pref-height: 30.0;
    -fx-fill: white;
}

.opinion-box-against{
    -fx-background-color: #a46262;
}

.opinion-box-for{
    -fx-background-color: #69a462;
}

.opinion-box-unknown{
    -fx-background-color: #d4a65b;
}

.opinion-title {
    -fx-padding: 10px;
}

.opinion-box {   
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 15px;
    -fx-background-radius: 5px;
}

.against-title{
    -fx-text-fill: white;
    -fx-background-color: #a46262;
}

.for-title{
    -fx-text-fill: white;
    -fx-background-color: #69a462;
}

.unknown-title{
    -fx-text-fill: white;
    -fx-background-color: #d4a65b;
}

.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.tab {
    -fx-padding: 50px;
    -fx-pref-height: 50px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-end-margin: 15px;
    -fx-border-width: 25px;
}

.tab-label {
    -fx-text-fill: white ;
}

.score-label {
    -fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-font-size: 18pt;
    -fx-text-fill: white;
}

.score-label-wrapper{
    -fx-border-color: rgb(10, 107, 26);
    -fx-effect: dropshadow(two-pass-box, rgb(10, 107, 26), 15,0.0,0.5,3);
    -fx-border-width: 0 0 2 0;
}


.score-value {
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 17pt;
    -fx-text-fill: white;
}