.table-view {
    -fx-background-color: black;
    -fx-border-width: 0;
    -fx-border-radius: 7px 7px 0 0;
    -fx-background-radius: 7px 7px 0 0;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.0, 2, 2);
}

.table-view .column-header-background {
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 5 0;
    -fx-padding: 0 0 5 0;
    -fx-effect: dropshadow(two-pass-box, rgb(10, 107, 26), 15,0.0,0.1,3);
    -fx-background-color: black;
}

.table-view .column-header, .table-view .filler {
    -fx-border-width: 0 0 1 0;
    -fx-background-color: black;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-padding: 10;
}

.table-view:focused {
    -fx-background-color: black;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: black;
}

.table-row-cell:even {
    -fx-background-color: black;
}

.table-cell {
    -fx-text-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 12pt;
    -fx-alignment: center;
}

.table-row-cell:empty {
    -fx-background-color: black;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}